@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');

/*-------------------------------------------------colours*/

body{
    background-color: beige;
}
.navbar-light navbar-toggler{
    color: rgba(0,0,0,0.5);
}

.heading h2{
    color: #e84610;
}

.info-heading{
    color:  #e84610;
}
/*-------------------------------------------------general,text,*/
.uppercase{
    text-transform: uppercase;
}
/*-------------------------------------------------navigation*/
.navbar{
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: transparent;
}
.navbar-brand{
    padding-left: 0px;
    display: inline-block;
    font-family:"Raleway", sans-serif;
    font-size: 25px;
    font-weight:bold;
    height: 42px;
    width: 60;
    text-align: center;
}
.navbar-nav{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    padding-left: 70%;
    font-weight: bold;
    text-align: left;
}
.navbar-nav a:hover{
    color:#e84610 !important;
    font-size: 18px;
}
.navbar-brand:hover{
    color:#e84610 !important;
}

/*-------------------------------------------------heading*/

.heading{
    font-family:"Raleway", sans-serif;
    margin-top: 60px;
    margin-left: 40px;
    font-weight: bold;

}
/*-------------------------------------------------personal info*/
.intro-container{
     margin-top: 70px;
    margin-left: 50px;
    
}
.info-heading{
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    }


.personal-info-items{
    padding-top: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
    clear: both;
    text-align: center;
}
.personal-info-items .key,
.personal-info-items .value{
    padding-right: 8px;
    display: inline-block;
   
    
}
.personal-info-items .key p,
.personal-info-items .value p{
    margin: 0;
    padding-top: 20px;
}
.personal-info-items .key{
    width: 30%;
     padding-top: 2px;
    vertical-align: top;
}
.personal-info-items .key p{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.personal-info-items .value{
    position: relative;
    width: 60%;
    text-align: left;
}
.personal-info-items .value p{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
}
