@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');

/*-------------------------------------------------colours*/

body{
    background-color: beige;
}
.navbar-light navbar-toggler{
    color: rgba(0,0,0,0.5);
}
/*-------------------------------------------------general,text,*/
.uppercase{
    text-transform: uppercase;
}
/*-------------------------------------------------navigation*/
.navbar{
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: transparent;
}
.navbar-brand{
    padding-left: 0px;
    display: inline-block;
    font-family:"Raleway", sans-serif;
    font-size: 25px;
    font-weight:bold;
    height: 42px;
    width: 60;
    text-align: center;
}
.navbar-nav{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    padding-left: 70%;
    font-weight: bold;
    text-align: left;
}
.navbar-nav a:hover{
    color:#e84610 !important;
    font-size: 18px;
}
.navbar-brand:hover{
    color:#e84610 !important;
}

/*-------------------------------------------------heading*/

.heading{
    font-family:"Raleway", sans-serif;
    margin-top: 60px;
    margin-left: 40px;
}
