
@import url('https://fonts.googleapis.com/css2?family=Exo&family=Raleway&family=Roboto&display=swap');
/*-------------------------------------------------colours*/

body {
  background-color: beige;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.8);
}

.heading h2 {
  color: #e84610;
}

.info-heading {
  color: #e84610;
}
/*-------------------------------------------------general,text,*/
body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  
  line-height: 1.5;
  text-align: left;
}
.uppercase {
  text-transform: uppercase;
}
/*-------------------------------------------------navigation*/
.navbar {
  margin-bottom: 0;
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}
.navbar-brand {
  padding-left: 10px;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-weight: bold;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-color: #e84610;
  text-align: left;
}
.navbar-nav {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  margin-right: 0;
}
.navbar-nav li {
  text-align: right;
}

.navbar-nav a:hover {
  color: #e84610 !important;
  font-size: 18px;
}
.navbar-brand:hover {
  color: #fff !important;
}

/*-------------------------------------------------heading*/

.heading {
  font-family: "Raleway", sans-serif;
  margin-top: 60px;
  font-weight: 500;
  
  margin-bottom: 30px;
}

.heading h2 {
  font-size: 30px;
}

@media only screen and (min-width: 992px) {
  .heading h2 {
    font-size: 45px;
  }
  .heading h4 {
    font-size: 25px;
    
  }
}
/*-------------------------------------------------personal info*/
.intro-container {
  margin-top: 70px;
}
.info-heading {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  padding: 10px;
  text-align: center;
}

.personal-info-items {
  padding-right: 10px;
  margin-bottom: 20px;
  display: block;
  clear: both;
  text-align: center;
}
.personal-info-items .key,
.personal-info-items .value {
  padding-right: 8px;
  display: inline-block;
}
.personal-info-items .key p,
.personal-info-items .value p {
  margin: 0;
  padding-top: 20px;
}
.personal-info-items .key {
  width: 30%;
  padding-top: 2px;
  vertical-align: top;
}
.personal-info-items .key p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.personal-info-items .value {
  position: relative;
  width: 60%;
  text-align: center;
}
.personal-info-items .value p {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

/*-------------------------------------------------Profile image*/
.img-fluid {
  width: 100%;
  max-width: 530px;
  height: auto;
}
/*-------------------------------------------------Portfolio*/
.portfolio-container{
  padding: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
.portfolio-container .row{
    margin-right: 20px;
    margin-left: 20px;
}

.portfolio-container h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  padding-top: 50px;
}
.portfolio-container h3{
    color: #e84610;
}
.portfolio-container p{
    font-family: "Raleway", sans-serif;
    font-size:20px;
    padding-top: 10px;
}
.block-divider {
  margin-right: 100%;
  width: 80px;
  height: 4px;
  border: 0;
  background-color: #000;
}
.space{
    margin: 0;
    padding: 0;
    height: 20px;
}
.row-projects{
    max-height: 400px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;

}
/*-------------------------------------------------About*/
.about-container{
    padding: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
.about-container .row{
    margin-right: 20px;
    margin-left: 20px;
}
.about-container h6{
   font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding-top: 50px; 
  font-style:bold;
}
.about-container h2{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 32px;
    padding-top: 60;
    padding-bottom: 30px;
}
.about-container p{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}
/*-------------------------------------------------contact*/
.contact-container{
     padding: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
.contact-container .row{
    margin-right: 20px;
    margin-left: 20px;
}
.contact-container h6{
   font-family: "Raleway", sans-serif;
  font-weight: 600;
  padding-top: 50px; 
}

/*-------------------------------------------------footer*/
footer {
  color: #000;
  min-height: 120px;
  margin: 0;
}
.cv-pdf i {
  font-size: 18px;
  color: #000;
  text-align: center;
  padding-left: 5px;
}
.cv-pdf i:hover {
  color: #e84610;
}
.social-links {
  padding-bottom: 15px;
  float: right;
}
.social-links li a i {
  height: 32px;
  width: 32px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 13px;
  line-height: 7px;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}
.list-inline-items {
  display: inline-block;
  padding-left: 20px;
  padding-right: 10px;
}
.social-links li a i:hover {
  background-color: #e84610 !important;
}
#footer-details {
  padding: 20px;
  margin-top: 50px;
}
