@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/*-------------------------------------------------colours*/

body {
  background-color: beige;
}

.heading h2 {
  color: #e84610;
}
.heading h4{
    color:black;
}

.info-heading {
  color: #e84610;
}
/*-------------------------------------------------general,text,*/
body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
}

.uppercase {
  text-transform: uppercase;
}

.block-divider {
  margin-right: 100%;
  width: 100px;
  height: 4px;
  border: 0;
  background-color: #000;
}

.space {
  margin: 0;
  padding: 0;
  height: 20px;
}

/*-------------------------------------------------navigation code is taken from https://getbootstrap.com/docs/4.5/components/navbar/*/
/*-------------------------------------------------navigation*/
.navbar {
  margin-bottom: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.navbar-brand {
  padding-left: 10px;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-weight: bold;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-color: #e84610;
  text-align: left;
}

.navbar-nav {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  margin-right: 0;
  }

.navbar-nav li {
  text-align: right;
}

.navbar-nav a:hover {
  color: #e84610 !important;
  font-size: 18px;
}
.navbar-brand:hover {
  color: #000 !important;
}

/*-------------------------------------------------heading*/

.heading {
  font-family: "Raleway", sans-serif;
  margin-top: 60px;
 margin-bottom: 30px;
}

.heading h2 {
  font-size: 30px;
  font-weight: 600;
}

/*-------------------------------------------------media queries for heading*/
@media only screen and (min-width: 992px) {
  .heading h2 {
    font-size: 45px;
  }
  .heading h4 {
    font-size: 25px;
  }
}

/*-------------------------------------------------personal info*/
.intro-container {
  margin-top: 70px;
}
.info-heading {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  padding: 10px;
  text-align: left;
  font-weight: 600;
}

.personal-info-items p {
  padding-right: 10px;
  margin-bottom: 20px;
  display: block;
  clear: both;
  text-align: left;
  margin: 0;
  padding-top: 20px;
  width: 100%;
  padding-left: 30px;
  
  
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.personal-info-items a {
  color: #e84610;
}

/*-------------------------------------------------Profile image*/
.img-fluid {
  width: 100%;
  max-width: 530px;
  height: auto;
}
/*-------------------------------------------------Portfolio*/
.portfolio-container, .about-container {
  padding: 10px;
  }

.portfolio-container .row, .about-container .row, .contact-container .row {
  margin-right: 20px;
  margin-left: 20px;
}

.portfolio-container h6, .about-container h6, .contact-container h6  {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  padding-top: 50px;
  font-size: 20px;
}
.portfolio-container h3 {
  color: #e84610;
}
.portfolio-container p {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  padding-top: 10px;
  font-weight: 500;
  color: black;
}

.row-projects {
  max-height: 400px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
}
/*-------------------------------------------------About*/

.about-container h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 32px;
  padding-top: 60px;
  padding-bottom: 30px;
}
.about-container p {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: black;
}
/*-------------------------------------------------contact*/
.contact-container {
  padding: 10px;
  margin-bottom: 50px;
}

#contact-details h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 28px;
  padding-top: 60px;
  padding-bottom: 30px;
  color: #e84610;
}
#contact-details p {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: black;
}
.center-form {
  padding-top: 10px;
  margin: 0 auto;
  max-width: 70%;
  background: transparent;
}

button[type="submit"] {
  margin-top: 15px;
  margin-bottom: 20px;
  color: #fafafa;
  background-color: #e84610;
}

/*-------------------------------------------------footer is referred from rosie-miniproject of CI(https://github.com/Kiran6248/resume-miniproject)*/
/*-------------------------------------------------footer*/
footer {
  color: #fff;
 margin: 0;
 background-color: rgba(0, 0, 0, 0.5);
}
.cv-pdf i {
  font-size: 18px;
  color: #000;
  text-align: center;
  padding-left: 5px;
}
.cv-pdf i:hover {
  color: #e84610;
}
.social-links {
  padding-bottom: 15px;
  float: right;
}
.social-links li a i {
  height: 32px;
  width: 32px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 18px;
  line-height: 7px;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}
.list-inline-items {
  display: inline-block;
  padding-left: 20px;
  padding-right: 10px;
}
.social-links li a i:hover {
  background-color: #e84610;
}
#footer-details {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
}
